.btn{
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 5px;
    width:50px;
    height:50px;
    justify-content: center;
    cursor: pointer;
    font-size:24px;
    


}
h1{
    font-size: 40px;
    color:black;
    font-weight: bold;
    text-align: center;
}

.container{
    justify-content: center;
    place-items: center;
    display: grid;
}

input{
    width:200px;
    height: 30px;
    padding:10px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}